

<%= form_with model: voter do |i|%>
<div class="form-style">

<div>
<%= i.label :Name%>
<%= i.text_field :name, placeholder: "enter your name"%>
</div>

<div>
<%= i.label :id_card%>
<%= i.text_field :id_card, placeholder: "CNIC"%>
</div>
<div>
<%= i.label :Address%>
<%= i.text_field :address, placeholder: "enter yout address"%>
</div>
<div>
<%= i.label :voter_number%>
<%= i.text_field :voter_number, placeholder: "enter your vote number"%>
</div>
<div>
<%= i.submit %>

</div>

<div>
<% end %>
</div>
</div>