<h1>THE SHOW</h1>
<P><strong>name: </strong><%= @voter.name%></P>
<P><strong>id_card: </strong><%= @voter.id_card%></P>
<P><strong>address: </strong><%= @voter.address%></P>
<P><strong>voter_number: </strong><%= @voter.voter_number%></P>
<%= link_to "RETURN", voters_path%>