<!DOCTYPE html>
<html>
  <head>
    <title>Election</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="d-flex flex-column">
  <%= render "layouts/navbar"%>
  <% flash.each do |msg, text|%>
  <%= text %>
  <% end %>
 
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <% if login_signed_in? %>
  <!-- Show user-specific navbar options if logged in -->
  <li class="nav-item">
    <%= link_to "Logout", destroy_login_session_path, method: :delete, class: "nav-link" %>
  </li>
<% else %>
  <!-- Show sign-up and login buttons if not logged in -->
  <li class="nav-item">
    <%= link_to "Sign up", new_login_registration_path, class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "Login", new_login_session_path, class: "nav-link" %>
  </li>
<% end %>


    <%= yield %>
  

  
  </body>
</html>
